
@{
    ViewData["Title"] = "Index";
}

<h1>Existing Categories</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Qty</th>
            <th scope="col">Creation Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>@item.CreateDate</td>
            </tr>
        }
        
    </tbody>
</table>

